body {
  background-color: #eeeeee;
  margin: 0;
  font-size: 0.9rem;
}

#contHEPA {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 0px 3px 10px #CCC;
  height: 100vh;
  margin: 0px auto;
  max-width: 425px;
  padding: 0 16px;
  position: relative;
}

#idioma {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: .6rem;
  border-color: #CCC;
  width: 80px;
}

h4.title {
  background-image: url(../assets/icono.png);
  background-color: #3282b8;
  margin: -1px -17px 0px;
  background-size: 33px;
  background-position: 3px 3px;
  color: white;
  padding: 8px 10px 10px 40px;
  font-size: 18px;
  background-repeat: no-repeat;
}

div#tabHEPA {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 115px);
  margin-top: 10px;
}

h6 {
  font-size: .9rem;
}

.nav-link {
  padding: 3px 8px;
}

#calculadora a {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 8px;
  color: #666;
}

#calculadora a img {
  border: 1px solid #CCC;
  border-radius: 5px;
}

#aGoogle,
#aAmazon {
  font-size: .8rem;
}

#calculadora,
#informacion {
  padding: 0;
}

label {
  font-size: .75rem;
  margin-bottom: 0;
}

input[type="number"] {
  text-align: right;
  padding-right: 8px;
}

select.form-control {
  font-size: .8rem;
}

#cadr,
#cambio-total,
#aire-fresco,
#filtro-hepa,
#maxCO2,
#maxCO2SinFiltro,
#cfm {
  font-weight: bold;
  height: 32px;
  border: none;
  text-align: right;
  line-height: 20px;
  cursor: no-drop;
}

#cfm {
  border: 1px solid #CCC;
  font-weight: normal;
  background: blanchedalmond;
  color: #0f4c75;
}

#cadr,
#maxCO2,
#maxCO2SinFiltro {
  background-color: #0f4c75;
  color: #FFFFFF;
  font-size: 1.4rem;
}
.txt-inf {
  font-size: .7rem;
  color: #AAA;
}
#infVentilacion.txt-inf {
  margin: -8px 0 16px;
}

#cambio-total {
  background-color: mediumseagreen;
  color: #FFFFFF;
  font-size: 1.4rem;
}

#aire-fresco,
#filtro-hepa {
  background-color: cornsilk;
  font-size: 1.4rem;
}

#informacion h6 {
  line-height: 22px;
}

.form-group {
  margin-bottom: 0.5rem;
}

.tg {
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 10px 5px;
  font-size: 11px;
  min-width: 55px;
  text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #0f4c75;
}

.nav-link {
  color: #0f4c75;
  display: table-caption;
  text-align: center;
}

.nav-link span {
  display: block;
}

.nav-item {
  width: 50%;
  text-align: center;
  display: grid;
}

.nav-item:first-child {
  border-right: 1px solid #ccc;
}

.nav-container {
  position: fixed;
  bottom: 4px;
  left: 0;
  width: 100%;
  background: transparent;
}

.nav-container>.nav {
  box-shadow: inset 0px 2px 4px -2px #ccc;
  margin: 0 auto 1px;
  max-width: 425px;
  padding-top: 6px;
}

#informacion img {
  margin: 16px 0;
}

.nav-pills .nav-link.active {
  background-color: transparent;
  color: #0f4c75;
}

.nav-pills .nav-link {
  color: #ccc;
}

.row,
.tab-pane img {
  margin-bottom: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.resultado {
  padding: 10px;
  border: 2px solid #bbe1fa;
  border-radius: 5px;
}

.subtitle {
  background: #3282b8;
  color: white;
  padding: 5px 0;
  font-weight: 500;
  margin: 30px 0 10px;
  text-align: center;
}
